@import url("https://matcha.mizu.sh/matcha.css");

ul {
  border: 1px solid white;
  list-style: none;
  display: inline-block;
  margin: 1rem;
  padding: 20px;
}

form {
  margin-block: 10em;
  margin-bottom: 0;
}
